/* App.css */
.AppContainer {
  text-align: center; /* Center align content */
}

button {
  background-color: #3498db; /* Blue color for the button */
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 10px;
  cursor: pointer;
}

/* Loader styles */
.LoaderContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.Loader {
  border: 4px solid #f3f3f3;
  border-top: 4px solid #3498db;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  animation: spin 2s linear infinite;
  margin-right: 10px;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* FailureView styles */
.FailureContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}

.FailureMessage {
  font-size: 18px;
  margin-bottom: 20px;
}

.RetryButton {
  padding: 10px 20px;
  background-color: #3498db;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.RetryButton:hover {
  background-color: #2980b9;
}

.ListContainer {
  padding: 20px;
  font-family: Arial, sans-serif;
}
.head{
  text-align: center;

}
.ListContainersWrapper {
  display: flex;
  width: 800px;
}

.ListContainerBox {
  border: 0px solid #ccc;
  padding: 10px;
  margin: 10px;
  width: 260px;
  background-color: #daeefc;
  border-radius: 10px;
  overflow: auto;
  height: 520px; 
}

.ListContainerBox h3 {
  text-align: left;
}

.ListItemsContainer {
  display: grid;
  gap: 10px;
}

.ListItemBox {
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 10px;
  background-color: white;
  width: auto;
  text-align: left;
}

.ListItemBox span {
  font-weight: bold; 
}

